<ion-view view-title="Contact Us">
  <ion-content>
    <div class="card">
		<div class="item item-divider">
			Location Information
		</div>
		<div class="item item-body item-text-wrap">
			Our Address<br>
			121, Clear Water Bay Road<br>
			Clear Water Bay, Kowloon<br>
			HONG KONG<br>
			<i class="ion-ios-telephone"></i>: +852 1234 5678<br>
			<i class="ion-ios-printer"></i>: +852 8765 4321<br>
			<i class="ion-email"></i>Email:confusion@food.net
		</div>
		<div class="button-bar">
			<button class="button button-positive"><i class="ion-ios-telephone"></i>Call</button>
			<button class="button button-calm"><i class="ion-social-skype"></i>Skype</button>
			<button class="button button-balanced"><i class="ion-email"></i>E-Mail</button>
		</div>
	</div>
  </ion-content>
</ion-view>